
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Italic.ttf') format('ttf')
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Bold.ttf') format('ttf')
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Bold-Italic.ttf') format('ttf')
		
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI.ttf') format('ttf')
}


body {
  margin: 0;
  font-family: Segoe UI , -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  direction: ltr;
  background: var(--primary-1);
}

:root{
  --primary-1: #FEEDBC;
  --primary-2:  #F9B800;
  --primary-3:  #262626;
  
  --color-1: #262626;
  --color-2: #000;
  --color-3: #979797;
  --color-4: #FFF;
  
  
  
  --bg-color-1: #FFF;
  --bg-color-2: #FEEDBC80;

  --border-radius-1: 5000px;

  --font-size-1: 5rem;
  --font-size-2: 1.875rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 3.125rem;


  
  --font-weight-1: 700;
  --font-weight-2: 600;
  --font-weight-3: 400;


}
.basePage{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}