
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Italic.ttf') format('ttf')
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Bold.ttf') format('ttf')
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI-Bold-Italic.ttf') format('ttf')
		
}
@font-face {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 100;
	src: url('./font/Segoe-UI.ttf') format('ttf')
}

:root{
  --primary-1: #FEEDBC;
  --primary-2:  #F9B800;
  --primary-3:  #262626;
  
  --color-1: #262626;
  --color-2: #000;
  --color-3: #979797;
  --color-4: #FFF;
  
  
  
  --bg-color-1: #FFF;
  --bg-color-2: #FEEDBC80;

  --border-radius-1: 5000px;

  --border-1:1px solid var(--primary-2);
  
  /* --font-size-1: 80px;
  --font-size-2: 30px;
  --font-size-3: 20px;
  --font-size-4: 25px;
  --font-size-5: 50px; */
  
  --font-size-1: 5rem;
  --font-size-2: 1.875rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 3.125rem;


  
  --font-weight-1: 700;
  --font-weight-2: 600;
  --font-weight-3: 400;

  --liner : linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);


}

body {
  margin: 0;
  font-family: Segoe UI , -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  direction: ltr;
  background: var(--primary-1);
  font-size: 16px;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 16px;
  }
}
.basePage{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}

/* animations */
.animation{
  position: relative;
  transform-origin: initial;
  transform-box:fill-box;
}
.scaleB{
  animation: scaleB 2s var(--liner) infinite ;
  -webkit-animation: scaleB 2s var(--liner) infinite ;
  -moz-animation: scaleB 2s var(--liner) infinite ;
  -o-animation: scaleB 2s var(--liner) infinite ;
  -ms-transition: scaleB 2s var(--liner) infinite ;
}
@keyframes scaleB {
  0% { transform:scale(1) }
  50% { transform:scale(1.2) }
  100% { transform:scale(1) }
}
@-webkit-keyframes scaleB {
  0% { transform:scale(1) }
  50% { transform:scale(1.2) }
  100% { transform:scale(1) }
}
@-ms-keyframes scaleB {
  0% { transform:scale(1) }
  50% { transform:scale(1.2) }
  100% { transform:scale(1) }
}
@-o-keyframes scaleB {
  0% { transform:scale(1) }
  50% { transform:scale(1.2) }
  100% { transform:scale(1) }
}
@-moz-keyframes scaleB {
  0% { transform:scale(1) }
  50% { transform:scale(1.2) }
  100% { transform:scale(1) }
}

.moveup{
  animation: bounceUp 2s var(--liner) infinite ;
  -webkit-animation: bounceUp 2s var(--liner) infinite ;
  -moz-animation: bounceUp 2s var(--liner) infinite ;
  -o-animation: bounceUp 2s var(--liner) infinite ;
  -ms-transition: bounceUp 2s var(--liner) infinite ;
}
@keyframes bounceUp {
  0% { transform: translateY(-15px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-15px) }
}
@-webkit-keyframes bounceUp {
  0% { transform: translateY(-15px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-15px) }
}
@-ms-keyframes bounceUp {
  0% { transform: translateY(-15px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-15px) }
}
@-o-keyframes bounceUp {
  0% { transform: translateY(-15px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-15px) }
}
@-moz-keyframes bounceUp {
  0% { transform: translateY(-15px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-15px) }
}

.movedown{
  animation: bounceDown 2s var(--liner) infinite ;
  -webkit-animation: bounceDown 2s var(--liner) infinite ;
  -moz-animation: bounceDown 2s var(--liner) infinite ;
  -o-animation: bounceDown 2s var(--liner) infinite ;
  -ms-transition: bounceDown 2s var(--liner) infinite ;
}
@keyframes bounceDown {
  0% { transform: translateY(15px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(15px) }
}
@-webkit-keyframes bounceDown {
  0% { transform: translateY(15px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(15px) }
}
@-ms-keyframes bounceDown {
  0% { transform: translateY(15px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(15px) }
}
@-o-keyframes bounceDown {
  0% { transform: translateY(15px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(15px) }
}
@-moz-keyframes bounceDown {
  0% { transform: translateY(15px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(15px) }
}

.moveright{
  animation: bounceW 2s var(--liner) infinite ;
  -webkit-animation: bounceW 2s var(--liner) infinite ;
  -moz-animation: bounceW 2s var(--liner) infinite ;
  -o-animation: bounceW 2s var(--liner) infinite ;
  -ms-transition: bounceW 2s var(--liner) infinite ;
}
@keyframes bounceW {
  0% { transform: translateX(15px)  }
  50% { transform: translateX(-5px) }
  100% { transform: translateX(15px) }
}
@-webkit-keyframes bounceW {
  0% { transform: translateX(15px)  }
  50% { transform: translateX(-5px) }
  100% { transform: translateX(15px) }
}
@-ms-keyframes bounceW {
  0% { transform: translateX(15px)  }
  50% { transform: translateX(-5px) }
  100% { transform: translateX(15px) }
}
@-o-keyframes bounceW {
  0% { transform: translateX(15px)  }
  50% { transform: translateX(-5px) }
  100% { transform: translateX(15px) }
}
@-moz-keyframes bounceW {
  0% { transform: translateX(15px)  }
  50% { transform: translateX(-5px) }
  100% { transform: translateX(15px) }
}